@font-face {
    font-family: "Delivery";
    src: url("../font/WrongDelivery.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    max-width: 100vw;
    min-height: 95vh;
    background-image: url('../images/perso_arme_feminin-modifer.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}

#jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    min-height: 100px;
    max-width: 900px;
    min-width: 400px;
    padding: 25px;
    border-radius: 25px;
    background-image: linear-gradient(#6e0000 20%, #000000ad 100%) ;
    overflow: hidden;
    color: #e0baba;
    box-shadow: 0 -10px 25px #6e0000;
}

#reset {
    text-transform: uppercase;
    font-family: "Delivery";
    letter-spacing: 5px;
    order: 2;
    font-size: 25px;
    color: #e0baba;
    background-image: linear-gradient(#6e0000 20%, #000000ad 100%);
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    margin: 10px;
    transition: margin 0.2s linear, font-size 0.1s linear, letter-spacing 0.1s linear;
}

#reset::after {
    content: 'Recommencer';
}

#reset:hover {
    font-size: 32px;
    letter-spacing: 0.1px;
    background-color: #bf0606;
    margin: 15px;
    box-shadow: 0 0 10px #e0baba;
}

#reset:active {
    font-size: 28px;
    background-color: #c44f4f;
    box-shadow: inset 0 0 10px black;
    border: solid 1px #e0baba;
}

#muteSound {
    display: none;
}

.muteSound {
    align-self: flex-end;
    order: 4;
    display: flex;
    align-items: center;
}

.muteSound::after {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-image: url('../images/batiment_detruit-modifier.jpg');
    background-size: 2em;
}

.muteSound.stop::after {
    content: '';
    display: inline-block;
    background-image: url('../images/groupe_militaire_arme-modifier.jpg');
    background-size: 2em;
}

p {
    text-shadow: 0 0 2px black;
    font-size: 1.2em;
    text-align: center;
}

em {
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    color: #c44f4f;
    text-shadow: 0 0 5px black;
}

#logo {
    order: 0;
    font-size: 45px;
    max-width: 80vw;
}

#titre {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
}

.image {
    order: 2;
    border-radius: 10%;
    min-width: 200px;
    max-width: 400px;
    height: 350px;
    padding: 10px;
    filter: blur(0.5px) contrast(120%) saturate(0%);
}

.video {
    order: 1;
    border-radius: 20px;
    min-width: 200px;
    max-width: 900px;
    min-height: 350px;
    max-height: 450px;
    padding: 10px;
    filter: blur(1px) contrast(350%) saturate(200%);
}

.boutons {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;
}

button {
    border-radius: 25px;
    min-width: 25%;
    max-height: 50px;
    min-height: 35px;
    flex-basis: 20%;
    background-color: #bf0606;
    color: #e0baba;
    box-shadow: 5px 5px 10px #000000;
    border: 1px solid #000000;
    transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

button:hover {
    background-color: #cf3232; /*Changement*/
    color: #ffabab;
    box-shadow: 0px 0px 10px #000000;
}

button:focus {
    box-shadow: 0px 0px 10px #000000;
    border: 1px solid #e0baba;
}

button:active {
    box-shadow: inset 0px 0px 10px #000000;     
}

/*Ajout NEW */
.gameChoix {
    min-width: 35vw;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.character {
    text-shadow: 0 0 2px black;
    font-size: 1.2em;
    text-align: center;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    opacity: 0.5;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
    background-repeat: repeat-x;
    background-size: auto 200px;
    background-color: #bf0606;
    border-radius: 25px;
    border: solid 1px #e0baba;
    transition: padding 0.3s linear;
}

.character:hover {
    box-shadow: 0 0 10px #e0baba;
    text-shadow: 0 0 5px black;
    opacity: 1;
    border: dashed 5px #e0baba;
    padding: 2px;
}

.character:active {
    font-size: 1.8em;
    border: dashed 8px #e0baba;
    padding: 15px;
    width: 210px;
    height: 210px;
}

.character.choix {
    font-size: 1.8em;
}

.character.no1 {
    animation-name: animation3frame180px;
}

.character.no2, .character.no3 {
    animation-name: animation4frame180px;
}

@keyframes animation3frame180px {
    from { background-position: 0 0;}
    to { background-position: -600px 0;}
}

@keyframes animation4frame180px {
    from { background-position: 0 0;}
    to { background-position: -800px 0;}
}
/*Fin Ajout NEW */

@media screen and (max-width: 850px) {
    .video {
        border-radius: 20px;
        min-width: 50px;
        max-width: 550px;
        min-height: 50px;
        max-height: 300px;
    }
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000;
    }
    #jeu {
        max-width: 400px;
        min-width: 200px;
    }
    .image {
        border-radius: 10%;
        min-width: 50px;
        max-width: 250px;
        min-height: 50px;
        max-height: 250px;
    }
    .video {
        border-radius: 20px;
        min-width: 50px;
        max-width: 350px;
        min-height: 50px;
        max-height: 250px; 
    }
    button {
        flex-basis: 30%;
    }
    #logo {
        max-width: 50vw;
        min-width: 350px;
    }
    #titre {
        font-size: 22px;
    }
    p {
        font-size: 1em;
    }
    #reset {
        font-size: 20px;
    }
    #reset:hover {
        font-size: 25px;
    }
    #reset:active {
        font-size: 22px;
    }
    /*Ajout NEW*/
    .gameChoix {
        width: 280px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .character {
        opacity: 0.5;
        width: 120px;
        height: 120px;
        image-rendering: pixelated;
        background-repeat: repeat-x;
        background-size: auto 120px;
        background-color: #bf0606;
        border-radius: 25px;
        border: solid 1px #e0baba;
    }
    .character:hover {
        font-size: 1em;
        opacity: 1;
        border: dashed 5px #e0baba;
        padding: 2px;
    }
    
    .character:active {
        border: dashed 8px #e0baba;
        padding: 2px;
        width: 130px;
        height: 130px;
    }

    .character.choix {
        font-size: 1.3em;
    }

    .character.no1 {
        animation-name: animation3frame120px;
    }
    
    .character.no2, .character.no3 {
        animation-name: animation4frame120px;
    }

    @keyframes animation3frame120px {
        from { background-position: 0 0;}
        to { background-position: -360px 0;}
    }
    
    @keyframes animation4frame120px {
        from { background-position: 0 0;}
        to { background-position: -480px 0;}
    }
    /*Fin Ajout NEW*/
}

@media screen and (max-width: 415px) {
    #jeu {
        max-width: 300px;
        min-width: 200px;
    }
    .image {
        border-radius: 10%;
        min-width: 50px;
        max-width: 250px;
        min-height: 50px;
        max-height: 250px;
    }
    .video {
        border-radius: 20px;
        min-width: 50px;
        max-width: 250px;
        min-height: 50px;
        max-height: 250px; 
    }
    .boutons {
        flex-direction: column;
        align-items: stretch;
        height: 140px;
    }
    button {
        flex-basis: 25%;
    }
    #logo {
        max-width: 40vw;
        min-width: 300px;
    }
    #titre {
        font-size: 20px;
    }
    p {
        font-size: 1em;
    }
    #reset {
        font-size: 16px;
    }
    #reset:hover {
        font-size: 20px;
    }
    #reset:active {
        font-size: 18px;
    }
    /*Ajout NEW*/
    .gameChoix {
        height: 350px;
    }

    .character {
        font-size: 0.8em;
        width: 100px;
        height: 100px;
        background-size: auto 100px;
    }

    .character:hover {
        font-size: 0.9em;
    }

    .character:active {
        width: 110px;
        height: 110px;
    }

    .character.no1 {
        animation-name: animation3frame100px;
    }
    
    .character.no2, .character.no3 {
        animation-name: animation4frame100px;
    }

    .character.choix {
        font-size: 1em;
    }

    @keyframes animation3frame100px {
        from { background-position: 0 0;}
        to { background-position: -300px 0;}
    }
    
    @keyframes animation4frame100px {
        from { background-position: 0 0;}
        to { background-position: -400px 0;}
    }
    /*Fin Ajout NEW*/
}

/* Pour utilisateur qui utiliser dark mode : 
@media screen and (prefers-color-scheme: dark) {
    body {
        filter: contrast(100%) saturate(5%);
    }
}
*/
